<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>AMDRadeonRadeonVII</string>
	<key>CFBundleIdentifier</key>
	<string>com.habbasi.kext.AMDRadeonVII</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AMDRadeonVII Kernel Extension</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0.1.1</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>AMD Radeon VII HW Services</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.kext.AMDRadeonX5000HWServices</string>
			<key>IOClass</key>
			<string>AMDRadeonX5000_AMDRadeonHWServicesVega</string>
			<key>IOMatchCategory</key>
			<string>AMDRadeonX5000HWServices</string>
			<key>IOPCIMatch</key>
			<string>0x66AF1002</string>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOProbeScore</key>
			<integer>65051</integer>
			<key>IOPropertyMatch</key>
			<dict>
				<key>LoadHWServices</key>
				<true/>
			</dict>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
		</dict>
		<key>AMDRadeonVIIGraphicsAccelerator</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.apple.kext.AMDRadeonX5000</string>
			<key>GpuDebugPolicy</key>
			<integer>0</integer>
			<key>IOClass</key>
			<string>AMDRadeonX5000_AMDVega10GraphicsAccelerator</string>
			<key>IODVDBundleName</key>
			<string>AMDRadeonVADriver2</string>
			<key>IOGVACodec</key>
			<string>AMDU7V4</string>
			<key>IOGVAHEVCDecode</key>
			<string>1</string>
			<key>IOGVAHEVCEncode</key>
			<string>1</string>
			<key>IOGVAVTCapabilities</key>
			<dict>
				<key>VTPerProfileDetails</key>
				<dict>
					<key>1</key>
					<dict>
						<key>VTMaxDecodeLevel</key>
						<integer>153</integer>
					</dict>
				</dict>
				<key>VTSupportedProfileArray</key>
				<array>
					<integer>1</integer>
				</array>
			</dict>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOMatchCategory</key>
			<string>IOAccelerator</string>
			<key>IOPCIMatch</key>
			<string>0x66AF1002</string>
			<key>IOPCITunnelCompatible</key>
			<true/>
			<key>IOPropertyMatch</key>
			<dict>
				<key>LoadAccelerator</key>
				<true/>
			</dict>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOSourceVersion</key>
			<string>0.0.0.0.0</string>
			<key>IOVARendererID</key>
			<integer>16908288</integer>
			<key>cail_properties</key>
			<dict>
				<key>CAIL_DisableCailLoadUcode</key>
				<integer>1</integer>
				<key>CAIL_DisableJpegEngine</key>
				<integer>0</integer>
				<key>CAIL_EnableLBPWSupport</key>
				<integer>0</integer>
				<key>CAIL_EnablePeerDataAperture</key>
				<integer>0</integer>
				<key>CAIL_EnableSecureMmFwLoading</key>
				<integer>1</integer>
				<key>CAIL_EnableXdmaSupport</key>
				<integer>0</integer>
			</dict>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2019 Hameer Abbasi (GPL3)</string>
</dict>
</plist>
